name: Deploy Frontend to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.PROJECT_ID }}

      - name: Configure Docker
        run: |
          gcloud auth configure-docker asia-south1-docker.pkg.dev

      - name: Build and Push Docker Image
        run: |
          docker build -t asia-south1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/frontend/frontend:latest .
          docker push asia-south1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/frontend/frontend:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy frontend \
            --image asia-south1-docker.pkg.dev/${{ secrets.PROJECT_ID }}/frontend/frontend:latest \
            --region asia-south1 \
            --platform managed \
            --allow-unauthenticated \
            --port 80
